@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

section.heading{
    height: 50vh;
    width: 100vw;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url(../img/walking.JPG);
}

.filter{
    height: 100%;
    width:  100%;
    background:rgba(61, 64, 91, 0.55);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.heading h1{
    font-family: "PT Serif", sans;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 45px;
    margin: 20% 44% 3% 0%;
    position: relative;
}

/* h1::after{
    content: " ";
    display: block;
    position: absolute;
    background: white;
    width: 700px;
    height: 3px;
    bottom: -20px;
} */

.about{
    font-family: "Poppins", sans-serif;
    padding: 10% 20%;
    line-height: 2.0;
}

.about h1{
    font-size: 30px;
    padding-bottom: 5%;
}

.about h1::after{
    content: " ";
    display: block;
    position: absolute;
    background: black;
    width: 700px;
    height: 2px;
    bottom: 250px;
} 