.navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}

.nav-link.active{
    text-decoration: underline;
    text-underline-position: under;
    font-weight: bold;
}

.navbar-custom{ 
    background-color: #F4F1DE; 
}  

.navbar-nav{
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
}

/*NON-NAVBAR STUFF*/
body {
    background-color: #F2CC8F;
}