.navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}

.nav-item{
    margin-right: 5%;
    letter-spacing: -1px;
}

.nav-link.active{
    text-decoration: underline;
    text-underline-position: under;
    font-weight: bold;
}

.navbar-custom{ 
    background-color: #F4F1DE; 
}  

.navbar-nav{
    font-family: "Poppins", sans-serif;
}

/*NON-NAVBAR STUFF*/
body {
    background-color: #F4F1DE;
}