/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');




html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    background: white;
}

section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#MainText {
    font-family: "PT Serif", sans;
    color: white;
    position: absolute;
    background:rgba(61, 64, 91, 0.35);
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-transform: uppercase;
    text-align: center;
}

#MainText h1{
    margin-bottom: 25px;
    font-size: 60px;
}

#MainText p{
    margin-bottom: 20px;
    font-size: 20px;
}

#MainText a{
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    color: #ecf0f1;
    text-decoration: none;
}

.OnlineWorship{
    border: 1px solid white;
    padding: 15px 35px;
    margin-top: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

.OnlineWorship:hover{
    background-color: rgba(0, 0, 0, 0.3);
    transition: .3s ease-out;
}

section{
    /* parallax-related */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


section#Service{
    height:100vh;
    width: 100vw;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url(../img/jinsmile.jpg);
}

section#Church{
    height:100vh;
    width: 100vw;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url(../img/walking.JPG);
}
section#Fellowship{
    height:100vh;
    width: 100vw;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url(../img/fellowship.jpg);
}
section#Events{
    height:100vh;
    width: 100vw;
    position: relative;
    background-size: cover;
    background-position: 0% 100%;
    background-image: url(../img/group.JPG);
}

section#Contacts{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;

}

.background{
    height: 100%;
    width:  100%;
    background:rgba(61, 64, 91, 0.55);
    position: absolute;
}

.Text{
    margin: 15% 7% 0% 50%;
    padding: 2%;
    color: white;
    font-family: "Poppins", sans-serif;
    position: absolute;
    text-transform: uppercase;
    text-align: left;
    background-color: rgba(0,0,0,.2);
}

#Fellowship .Text.Small{
    margin: 15% 50% 0% 7%;
}

#Contacts .Text{
    margin: 5% 5% 5% 5%;
    background-color: transparent;
    color: black;
}

@media only screen and (max-width: 800px) {
    .Text.Small{
        margin: 15% 10% 0% 10%;
    }
}

.Text h1{
    font-size: 3rem;
    letter-spacing: 3px;
}

.Text a{
    font-size: 1rem;
}

.Text p{
    padding-top: 30px;
}

.buttons{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}



#clickme{
    border: 2px solid #F4F1DE;
    padding: 7px 20px;
    margin-right: 20px;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color: #F4F1DE;
    font-size: 14px;

}

#clickme:hover{
    background-color: rgba(0, 0, 0, 0.3);
    transition: .3s ease-out;
}

#Fellowship .Text, #Fellowship .buttons{
    color: white;
}





